@import url('https://fonts.googleapis.com/css?family=Roboto');
/* logo */
.logo {
    text-shadow: 2px 2px 0 #ff0000, 4px 4px 0 #0000ff;
}

.navbar-nav .nav-item {
    font-size: 20px;
    font-weight: bold;
}

.navbar-nav .nav-itemi {
    margin-right: 40px;
}
.navbar-nav{
    margin-right: 40px;
}
.navbar-nav .nav-itemii {
    float: right;
}
/* icon */


.pr {
    padding-top: 25px;
}


.ft {
    padding-top: 25px;
}
